# Page and Application information
PAGE_ID=
APP_ID=
PAGE_ACCESS_TOKEN=

# Your App secret can be found in App Dashboard -> Settings -> Basic
APP_SECRET=

# A random string that is used for the webhook verification request
VERIFY_TOKEN